
body, html {
  font-family: Segoe UI;
  background: #FFF;
  color: #fff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  margin: 0;
  overflow: hidden;
  touch-action: none;
}

#content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.preload-images {
  display: none;
  width: 0;
  height: 0;
  background: url(../appbar.add.png),
              url(../appbar.close.png),
              url(../appbar.delete.png),
              url(../appbar.lines.horizontal.4-2.png),
              url(../appbar.save.png),
              url(../appbar.sort.numeric.png),
              url(../appbar.trophy.png),
              url(../ic_arrow_forward_white_24dp_2x.png),
              url(../ic_done_white_24dp_1x.png);
}

input, button {
  outline: none;
}

#cover {
  background-color: #FFF;
  background-size: auto 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .4s ease;
  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -ms-transition: .4s ease;
  -o-transition: .4s ease;
  z-index: -3;
}

#home {
  background-color: transparent;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;
  position: fixed;
  box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  -ms-box-shadow: 0px 0px 20px #000;
  -o-box-shadow: 0px 0px 20px #000;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  z-index: -1;
}

#sg-manage {
  background-color: transparent;
  width: 100%;
  height: 100%;
  max-width: 100%;
  text-align: center;
  position: fixed;
  box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  -ms-box-shadow: 0px 0px 20px #000;
  -o-box-shadow: 0px 0px 20px #000;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  z-index: -1;
}

.holder {
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 70px;
}

.open {
  left: 0
}
.close {
  left: -110%
}

#c-raffle {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url(../img/appbar.sort.numeric.png);
  background-size: 80%;
  background-position: 50% 1%;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 50% 50% 25% 25%;
  -webkit-border-radius: 50% 50% 25% 25%;
  -moz-border-radius: 50% 50% 25% 25%;
  -ms-border-radius: 50% 50% 25% 25%;
  -o-border-radius: 50% 50% 25% 25%;
  width: 150px;
  height: 150px;
  position: relative;
    top: 35%;
    left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
#c-raffle:active, #classic-raffle:hover {
  background-color: rgba(0,0,0,0.4);
}
#c-raffle::after {
  content: "Sorteio clássico";
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 0px;
  width: 100%;
}

#sg-raffle {
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url(../img/logo/white/SG-icon-144.png);
  background-size: 60%;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  border-radius: 50% 50% 25% 25%;
  -webkit-border-radius: 50% 50% 25% 25%;
  -moz-border-radius: 50% 50% 25% 25%;
  -ms-border-radius: 50% 50% 25% 25%;
  -o-border-radius: 50% 50% 25% 25%;
  width: 200px;
  height: 200px;
  position: relative;
    top: 35%;
    left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
#sg-raffle:active, #sortegram-raffle:hover {
  background-color: rgba(0,0,0,0.4);
}
#sg-raffle::after {
  content: "Sorteio Sortegram";
  color: #fff;
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
}


#logo {
    font-size: 24pt;
    font-family: Segoe UI Light, Segoe UI, sans-serif;
    text-align: center;
    color: #fff;
    width: calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: -ms-calc(100% - 100px);
    width: -o-calc(100% - 100px);
    height: 50px;
    position: fixed;
    top: 0;
    left: 50px;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.logo-blink {
  animation: logo-blink 1s infinite;
  -webkit-animation: logo-blink 1s infinite;
  -moz-animation: logo-blink 1s infinite;
  -ms-animation: logo-blink 1s infinite;
  -o-animation: logo-blink 1s infinite;
}

@keyframes logo-blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}
@-webkit-keyframes logo-blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}
@-moz-keyframes logo-blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}
@-ms-keyframes logo-blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}
@-o-keyframes logo-blink {
  0% {opacity: 1}
  50% {opacity: 0}
  100% {opacity: 1}
}

.addfadeIn {
  animation: addfadeIn 1.5s;
  -webkit-animation: addfadeIn 1.5s;
  -moz-animation: addfadeIn 1.5s;
  -ms-animation: addfadeIn 1.5s;
  -o-animation: addfadeIn 1.5s;
}

@keyframes addfadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@-webkit-keyframes addfadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@-moz-keyframes addfadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@-ms-keyframes addfadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
@-o-keyframes addfadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

#navbar-ops-btn {
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../img/appbar.lines.horizontal.4-2.png');
  background-size: 100% auto;
  background-position: 50%;
  background-repeat: no-repeat;
  border: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
}
#navbar-ops-btn:active {
  background-color: rgba(0, 0, 0, 0.5);
}

#navbar-ops-btn-close {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../img/appbar.close.png');
  background-size: 100% auto;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
#navbar-ops-btn-close:active {
  background-color: rgba(0, 0, 0, 0.8);
}

#sidebar {
  position: fixed;
  background-color: #148000;
  color: #fff;
  width: 50%;
  height: calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
  height: -ms-calc(100% - 50px);
  height: -o-calc(100% - 50px);
  top: 50px;
  box-shadow: 1px 0px 0px #000;
  -webkit-box-shadow: 1px 0px 0px #000;
  -moz-box-shadow: 1px 0px 0px #000;
  -ms-box-shadow: 1px 0px 0px #000;
  -o-box-shadow: 1px 0px 0px #000;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  z-index: 0;
}
#sidebar-overlay {
  display: none;
  background-color: rgba(0,0,0,0.8);
  width: 170%;
  height: 100%;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 0;
}

.sidebar-ops {
  margin-top: 10px;
}
.sidebar-op {
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
  cursor: pointer;
}
.sidebar-op:active {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #fff;
}

.ui-color-picker {
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.32);
  cursor: pointer;
}

.ui-color {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    display: inline-block;
}

.verde {
background-color: #148000;
}
.azul {
background-color: #2881FF;
}
.vermelho {
background-color: #FF0000;
}
.amarelo {
background-color: #FFFF00;
}
.laranja {
background-color: #FF8A00;
}
.rosa {
background-color: #FF7CFC;
}
.lilas {
background-color: #C56BFF;
}
.ciano {
background-color: #00EAFF;
}
.violeta {
background-color: #FF00CB;
}

.splat {
  width: 100%;
  max-width: 100%;
  text-align: center;
  position: fixed;
    top: 0;
    left: 0;
  margin-top: 50px;
  padding-bottom: 125px;
}

.resizing-input {
  display: inline;
}
.resizing-input span, :not(.resizing-input span#numb-plural) {
  display: none;
  font-size: 40px;
}

#classic {
  color: #fff;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
  min-width: 90%;
  min-height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  padding: 1px;
  padding-top: 80px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 20px #000;
  -webkit-box-shadow: 0px 0px 20px #000;
  -moz-box-shadow: 0px 0px 20px #000;
  -ms-box-shadow: 0px 0px 20px #000;
  -o-box-shadow: 0px 0px 20px #000;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  overflow-y: auto;
  z-index: -1;
}

#sortegram {
  background-color: transparent;
  color: #fff;
  width: 100%;
  max-width: 100%;
  min-height: calc(100% - 70px);
  min-height: -webkit-calc(100% - 70px);
  min-height: -moz-calc(100% - 70px);
  min-height: -ms-calc(100% - 70px);
  min-height: -o-calc(100% - 70px);
  text-align: center;
  position: fixed;
  top: 0;
  margin-left: 0px;
  padding: 0px;
  padding-top: 70px;
  transition: .2s ease;
  box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    -ms-box-shadow: 0px 0px 20px #000;
    -o-box-shadow: 0px 0px 20px #000;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  z-index: -1;
}

#start-sortegram {
  background-color: transparent;
  color: #fff;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  min-height: 100%;
  min-height: 100%;
  min-height: 100%;
  min-height: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
  z-index: -1;
}
.min-max {
  text-align: center;
  width: 100%;
    top: 60px;
    left: 0;
  margin-bottom: 20px;
}

.input-min-max {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    max-width: 100px;
    mwidth: 30%;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid #FFF;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    -moz-transition: .2s ease;
    -ms-transition: .2s ease;
    -o-transition: .2s ease;
    outline: none;
}
.input-min-max:focus {
    background-color: rgba(26, 90, 125, 0.73);
    border: 2px solid #FFFFFF;
}
.input-min-max:disabled {
    background-color: rgba(255, 255, 255, 0.6);
    color: #717171;
    border: 2px solid #868686;
}

.sort-btn {
  position: relative;
    margin-top: 60px;
    bottom: 0%;
    left: 0%;
    font-size: 30pt;
    background-color: #38D245;
    color: #fff;
    border: 0;
    width: 100%;
    padding: 10px;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
    outline: none;
}
.sort-btn:active {
    background-color: #5181AF;
    color: #ffffff;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}
.sort-btn:focus {
    background-color: #5181AF;
    color: #ffffff;
}
.sort-btn:disabled {
    background: #D9D9D9;
    color: rgb(117, 117, 117);
    text-shadow: 1px 1px 0px #FFF;
}

.new-btn, .new-btn-manage {
  position: relative;
  margin-top: 5px;
    bottom: 0%;
    left: 0%;
    font-size: 16pt;
    background-color: #37BD1E;
    color: #fff;
    border: 0;
    padding: 10px;
    width: 100%;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
    outline: none;
}
.new-btn:active, .new-btn-manage:active {
    background-color: #5181AF;
    color: #ffffff;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}
.new-btn:focus {
    background-color: #5181AF;
    color: #ffffff;
}
.new-btn:disabled {
    background: #D9D9D9;
    color: rgb(117, 117, 117);
}

.back-to-home-btn {
  position: relative;
    bottom: 0%;
    left: 0%;
    font-size: 16pt;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 0;
    width: 100%;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
    outline: none;
}
.back-to-home-btn:active {
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}
.back-to-home-btn:focus {
    background-color: #5181AF;
    border: 5px solid #5181AF;
    color: #ffffff;
}
.back-to-home-btn:disabled {
    background: #D9D9D9;
    color: rgb(117, 117, 117);
    text-shadow: 1px 1px 0px #FFF;
    border: 5px solid transparent;
}

#c-result {
  background-color: rgba(236, 248, 255, 0.5);
  color: #FFFFFF;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.23);
  font-size: 38pt;
  text-align: center;
  padding: 10px;
  width: 100%;
  max-width: calc(100% - 16px);
  max-width: -webkit-calc(100% - 16px);
  max-width: -moz-calc(100% - 16px);
  max-width: -ms-calc(100% - 16px);
  max-width: -o-calc(100% - 16px);
  height: auto;
  max-height: 170px;
  min-height: 90px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  word-wrap: break-word;
  overflow-y: auto;
}

#sg-result {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 60px;
  color: #FFFFFF;
  font-size: 30pt;
  text-align: left;
  padding: 10px;
  margin-left: 80px;
  width: calc(100% - 105px);
  width: -webkit-calc(100% - 105px);
  width: -moz-calc(100% - 105px);
  width: -ms-calc(100% - 105px);
  width: -o-calc(100% - 105px);
  max-width: calc(100% - 105px);
  max-width: -webkit-calc(100% - 105px);
  max-width: -moz-calc(100% - 105px);
  max-width: -ms-calc(100% - 105px);
  max-width: -o-calc(100% - 105px);
  height: 53px;
  max-height: 76px;
  min-height: 50px;
  border-bottom: 3px solid #fff;
  word-wrap: break-word;
  overflow: hidden;
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
}

.result-rotate {
  animation: result-rotate 1.5s;
  -webkit-animation: result-rotate 1.5s;
  -moz-animation: result-rotate 1.5s;
  -ms-animation: result-rotate 1.5s;
  -o-animation: result-rotate 1.5s;
}

@keyframes result-rotate {
  0% {transform: rotateX(0deg);}
  100% {transform: rotateX(720deg);}
}
@-webkit-keyframes result-rotate {
  0% {transform: rotateX(0deg);}
  100% {transform: rotateX(720deg);}
}
@-moz-keyframes result-rotate {
  0% {transform: rotateX(0deg);}
  100% {transform: rotateX(720deg);}
}
@-ms-keyframes result-rotate {
  0% {transform: rotateX(0deg);}
  100% {transform: rotateX(720deg);}
}
@-o-keyframes result-rotate {
  0% {transform: rotateX(0deg);}
  100% {transform: rotateX(720deg);}
}

.input-username {
  padding: 0 45px 0 10px;
    width: 60%;
    max-width: 60%;
    height: 45px;
    color: #FFF;
    font-size: 14pt;
    background: transparent;
    border: 0;
    border-bottom: 4px solid #fff;
}

#input-username-lbl {
    color: #66FF73;
    font-size: 10pt;
}

.error-shake {
  animation: error-shake 0.5s;
  -webkit-animation: error-shake 0.5s;
  -moz-animation: error-shake 0.5s;
  -ms-animation: error-shake 0.5s;
  -o-animation: error-shake 0.5s;
}

@keyframes error-shake {
  0% {margin-left: -20px;}
  20% {margin-left: 20px;}
  40% {margin-left: -20px;}
  80% {margin-left: 20px;}
  100% {margin-left: 0px;}
}
@-webkit-keyframes error-shake {
  0% {margin-left: -20px;}
  20% {margin-left: 20px;}
  40% {margin-left: -20px;}
  80% {margin-left: 20px;}
  100% {margin-left: 0px;}
}
@-moz-keyframes error-shake {
  0% {margin-left: -20px;}
  20% {margin-left: 20px;}
  40% {margin-left: -20px;}
  80% {margin-left: 20px;}
  100% {margin-left: 0px;}
}
@-ms-keyframes error-shake {
  0% {margin-left: -20px;}
  20% {margin-left: 20px;}
  40% {margin-left: -20px;}
  80% {margin-left: 20px;}
  100% {margin-left: 0px;}
}
@-o-keyframes error-shake {
  0% {margin-left: -20px;}
  20% {margin-left: 20px;}
  40% {margin-left: -20px;}
  80% {margin-left: 20px;}
  100% {margin-left: 0px;}
}

.input-username-btn {
    width: 45px;
    height: 50px;
    margin-left: -50px;
    border: 0;
    background-color: transparent;
    background-image: url(../img/appbar.add.png);
    background-size: 90%;
    background-position: 50%;
    background-repeat: no-repeat;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}
.input-username-btn:active, .input-username-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  }

#user-names {
  counter-reset: user-luck-number;
  padding-top: 15px;
  margin-bottom: 0;
  line-height: .2;
  text-align: left;
  width: 100%;
  max-height: 170px;
  overflow-y: auto;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

#user-names dt {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: left;
  border-bottom: 1px solid #D4D4D4;
  padding-top: 15px;
  padding-left: 4px;
  width: 98%;
  height: 30px;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

.dt-text {
    width: calc(100% - 110px);
    height: 15px;
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -15px;
    margin-left: 50px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

#user-names dt:before {
	content: counter(user-luck-number);
	counter-increment: user-luck-number;
  color: #B5B5B5;
  padding-right: 50px;
  padding-top: 4px;
  float: left;
  padding-bottom: 16px;
  font-size: 11pt;
  max-width: 5px;
}

#user-names-2 {
  counter-reset: user-luck-number;
  line-height: 1;
  text-align: left;
  position: relative;
  width: 100%;
  max-height: 170px;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

#user-names-2 dt {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: left;
  border-bottom: 1px solid #D4D4D4;
  padding-top: 15px;
  padding-left: 4px;
  height: 30px;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

#user-names-2 dt:before {
  content: counter(user-luck-number);
  counter-increment: user-luck-number;
  color: #B5B5B5;
  padding-right: 50px;
  padding-top: 4px;
  float: left;
  padding-bottom: 16px;
  font-size: 11pt;
}

#user-names-manage {
  counter-reset: user-luck-number;
  line-height: 1;
  text-align: left;
  position: relative;
  width: 100%;
  max-height: 170px;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

#user-names-manage dt {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: left;
  border-bottom: 1px solid #D4D4D4;
  padding-top: 15px;
  padding-left: 4px;
  height: 30px;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

#user-names-manage dt:before {
  content: counter(user-luck-number);
  counter-increment: user-luck-number;
  color: #B5B5B5;
  padding-right: 50px;
  padding-top: 4px;
  float: left;
  padding-bottom: 16px;
  font-size: 11pt;
}

#number-of-participants {
    color: #99FFFB;
    font-size: 14pt;
}

#number-of-participants-2 {
    color: #99FFFB;
    font-size: 14pt;
}

.edit {
    font-size: 13pt;
    text-align: center;
    color: #fff;
    border: 0;
    background-color: #00B70B;
    background-image: url(../img/appbar.edit.png);
    background-size: auto 80%;
    background-position: 10%;
    background-repeat: no-repeat;
    width: 49%;
    height: 60px;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}
.edit:active {
    background-color: #5181AF;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}

#delete-all, .delete {
    font-size: 12pt;
    color: #fff;
    border: 0;
    height: 60px;
    width: 49%;
    background-color: #FF6666;
    background-image: url(../img/appbar.delete.png);
    background-size: auto 80%;
    background-position: 10%;
    background-repeat: no-repeat;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}
#delete-all:active, .delete:active {
    background-color: #9A3E3E;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}

.delete-user {
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url(../img/appbar.delete.png);
    background-size: 130%;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 0;
    width: 45px;
    height: 45px;
    position: relative;
    float: right;
    right: 2px;
    margin-top: -45px;
    margin-right: 0px;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}
.delete-user:active {
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}


#sg-save {
    font-size: 13pt;
    text-align: center;
    color: #fff;
    border: 0;
    background-color: #00B70B;
    background-image: url(../img/appbar.save.png);
    background-size: auto 60%;
    background-position: 10%;
    background-repeat: no-repeat;
    width: 49%;
    height: 60px;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}
#sg-save:active {
    background-color: #5181AF;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}

#sg-done {
    border: 0;
    background-color: #00B70B;
    background-image: url(../img/ic_arrow_forward_white_24dp_2x.png);
    background-size: auto 80%;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 0 0 20px;
    -webkit-border-radius: 0 0 0 20px;
    -moz-border-radius: 0 0 0 20px;
    -ms-border-radius: 0 0 0 20px;
    -o-border-radius: 0 0 0 20px;
    transition: .1s ease;
    -webkit-transition: .1s ease;
    -moz-transition: .1s ease;
    -ms-transition: .1s ease;
    -o-transition: .1s ease;
}
#sg-done:active {
    background-color: #5181AF;
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
}

#sg-save:disabled, #delete-all:disabled {
    background-color: #BBB;
}

#trophy {
    display: none;
    width: 70px;
    height: 70px;
    background-image: url(../img/appbar.trophy.png);
    background-size: auto 125%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    margin-left: 5px;
    margin-top: 64px;
}

#spinner {
    display: none;
    width: 60px;
    height: 60px;
    border: 3px solid #00FF10;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    margin-left: 5px;
    margin-top: 64px;
    animation: spinner 1s infinite linear;
    -webkit-animation: spinner 1s infinite linear;
    -moz-animation: spinner 1s infinite linear;
    -ms-animation: spinner 1s infinite linear;
    -o-animation: spinner 1s infinite linear;
}

@keyframes spinner {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg)}
}
@-webkit-keyframes spinner {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes spinner {
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg)}
}
@-ms-keyframes spinner {
  0% {-ms-transform: rotate(0deg);}
  100% {-ms-transform: rotate(360deg)}
}
@-o-keyframes spinner {
  0% {-o-transform: rotate(0deg);}
  100% {-o-transform: rotate(360deg)}
}



.splat-loader {
    width: 100%;
    height: 100%;
    background-color: #148000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 100;
}

.splat-loader-spinner {
    width: 100px;
    height: 100px;
    border: 3px solid #FFF;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: calc(50% - 50px);
    top: -webkit-calc(50% - 50px);
    top: -moz-calc(50% - 50px);
    top: -ms-calc(50% - 50px);
    left: calc(50% - 50px);
    left: -webkit-calc(50% - 50px);
    left: -moz-calc(50% - 50px);
    left: -ms-calc(50% - 50px);
    animation: loader-spinner 1s infinite linear;
    -webkit-animation: loader-spinner 1s infinite linear;
    -moz-animation: loader-spinner 1s infinite linear;
    -ms-animation: loader-spinner 1s infinite linear;
}

@keyframes loader-spinner {
    100% {transform: rotate(360deg)}
}
@-webkit-keyframes loader-spinner {
    100% {-webkit-transform: rotate(360deg)}
}
@-moz-keyframes loader-spinner {
    100% {-moz-transform: rotate(360deg)}
}
@-ms-keyframes loader-spinner {
    100% {-ms-transform: rotate(360deg)}
}



.lock-scroll {
  overflow: hidden;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
}

.no-display {
  display: none;
}
